#body {
  height: 100%;
  width: 100%;
  font-family: Open Sans Hebrew,sans-serif;
  margin: 0;
  padding: 0;
}

.web-container {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-background-container {
  margin-top: -100px;
  margin-bottom: -50px;
  width: 100%;
  max-width: 400px;
  height: fit-content;
}

.top-background-content {
  width: 100%;
  max-width: 400px;
  height: 375px;
  background-image: url("Images/sneakers\ background\ image.jpg");
  background-size: 100% 100%;
}

.receipt-container {
  background-color: whitesmoke;
  height: fit-content;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipt-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-top: -50px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
}

.receipt-header {
  background-color: whitesmoke;
  height: fit-content;
  min-height: 50px;
  width: 100%;
  padding: 20px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 80px;
  height: 70px;
}

.logo-text {
  margin: -10px 0 0 0;
}

.receipt-body {
  background-color: whitesmoke;
  height: fit-content;
  width: 100%;
  border-radius: 0 0 20px 20px;
  font-family: 'Shadows Into Light Two', cursive;
}

.social-media-container {
  width: 85%;
  margin-top: 30px;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 8px -3px rgba(66, 68, 90, 1);
}

.social-media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  height: fit-content;
  min-height: 70px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

.social-media-logos-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: fit-content;
  padding: 30px 10px 20px 10px;
}

.facebook-logo, .instagram-logo, .youtube-logo, .twitter-logo {
  height: 50px;
  width: 40px;
}

.receipt-footer {
  background-color: transparent;
  text-align: center;
  height: 50px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

tr.spaceUnder>th {
  padding-bottom: 5px;
}

tr.spaceUnder>td {
  padding-bottom: 10px;
  padding-top: 10px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* padding: 20px; */
  background-color: black;
  opacity: 0.5;
}

.popup-content {
  display: none;
  background-color: white;
  z-index: 999;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-52%, -52%);
  border-radius: 20px;
  padding: 20px;
  transition: width 0.1s, height 0.1s;
}

.popup h1 {
  text-align: center;
  color: black;
}

.popup p {
  margin-top: 10px;
}

#close-popup {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}